* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn {
  padding: 10px;
  color: white;
  background-color: rgba(14, 176, 230, 0.763);
  border-radius: 5px;
}
    